form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: radial-gradient( #004578,#0078d4, #c7e0f4);
    color: white;
    height: 100%;
    text-align: center;
}
input{
    background-color:rgb(227, 242, 255);
    color: rgb(35, 0, 130);
    border: 2px solid  rgb(20, 0, 130);
    box-shadow: rgb(0, 20, 130) 3px 3px 3px;
    
}

button{
    background-color: rgb(#c7e0f4);
    color:  (41, 23, 0);
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    box-shadow: rgb(13, 36, 78) 3px 3px 3px;
}
form, p{
    color:rgb(175, 212, 236);
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
}